{% extends "basic.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/structure.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
  $(function() {
    $( "#init_date" ).datepicker();
  });
  $(function() {
    $( "#close_date" ).datepicker();
  });
 </script>

{% endblock %}


{% block content %}

    <form class="box register encuesta" method="POST">
    {% csrf_token %}
	<fieldset class="boxBody">
		<label>Nombre de la Encuesta</label>
		<input id="name"  type="text" tabindex="1" required maxlength="254" name="name">
		<label>Fecha Inicio</label> 
		<input type="text" id="init_date" tabindex="2" >
		<label>Fecha Final</label> 
		<input type="text" id="close_date"  tabindex="3">
	</fieldset>
    <footer>

		<input type="submit" class="btnLogin" value="Crear" tabindex="4" />
	</footer>
    </form>
{% endblock %}