{% extends "basic.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/structure.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

{% endblock %}


{% block content %}

    <form class="box register encuesta" method="POST">
    {% csrf_token %}
	<fieldset class="boxBody">
		<label>Pregunta</label>
		<input id="name"  type="text" tabindex="1" required maxlength="254" name="name">

        <label>Respuesta 1</label>
		<input id="name"  type="text" tabindex="1" required maxlength="254" name="name">
		
		<label>Respuesta 2</label>
		<input id="name"  type="text" tabindex="1" required maxlength="254" name="name">
        
	</fieldset>
    <footer>
	
		<input type="submit" class="btnLogin" value="Crear" tabindex="5" />
	</footer>
    </form>
{% endblock %}