{% extends "basic.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">

    var ans = 2;

    function finalizar() {
		var input = $("<input>")
               .attr("type", "hidden")
               .attr("name", "continuar").val("0");
		$('#form1').append($(input));
        return true;
    }
	function continuar() {
        var input = $("<input>")
               .attr("type", "hidden")
               .attr("name", "continuar").val("1");
		$('#form1').append($(input));
        return true;
    }

    function addAns(){
        ans++;
        var input = '<input class="form-control" type="text" id="text'+ans+'"  name="answers" placeholder="Ingrese una respuesta" required maxlength="254">';
        var label = '<label class="col-sm-3 control-label" for="text'+ans+'">Respuesta '+ans+'</label>';
        var col = '<div class="col-sm-9">'+input+'</div>';
        var row = '<div class="row answer">'+label+col+'</div>';
        $("#ans").append(row);
    }
</script>

<style>
    .bs-example{
    	margin-left: auto;
        margin-right: auto;
        width: 450px;
    }
    .box{
        margin-left: 10px;
    }
    .btn{
        margin-top: 10px;
    }body {
        background-color: #E3E7EA;
    }.answer{
        margin-left: 10px;
        font-weight: initial;
    }.radio{
        margin-top:0px;
    }.btn{
        margin-top:0px;
    }.row{
        margin-right:0px;
    }
</style>
{% endblock %}


{% block content %}
<div class="bs-example">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h1 class="panel-title">{{poll.name}}</h1>
        </div>

        <div class="panel-body">
            <form id="form1" class="box register encuesta" method="POST" enctype="multipart/form-data">
            {%  csrf_token %}
                <div class="form-group form-group-sm">
                    <div class="row">
                        <label class="col-sm-3 control-label" for="name">Pregunta</label>
                        <div class="col-sm-9">
                          <input class="form-control" type="text" id="name" name = "name" placeholder="Ingrese la pregunta" required maxlength="254">
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm" id = "ans" style="margin-bottom:0px">
                   <div class="row answer">
                        <label class="col-sm-3 control-label" for="text1">Respuesta 1</label>
                        <div class="col-sm-9">
                          <input class="form-control" type="text" id="text1"  name="answers" placeholder="Ingrese una respuesta" required maxlength="254">
                        </div>
                   </div>
                   <div class="row answer">
                        <label class="col-sm-3 control-label" for="text2">Respuesta 2</label>
                        <div class="col-sm-9">
                          <input class="form-control" type="text" id="text2"  name="answers" placeholder="Ingrese una respuesta" required maxlength="254">
                        </div>
                   </div>
                </div>
                <div class="row">
                    <a   class="btn btn-success pull-right" href="#" onclick = "addAns()" style="margin-bottom: 10px"><small><i class="glyphicon glyphicon-plus"></i></small></a>
                </div>
                <div class="row">
                    <input type="submit" class="pull-right btn btn-primary" value="Finalizar" tabindex="5" onclick="return finalizar();"/>
                    <input type="submit" class="pull-left btn btn-primary" value="Crear otra pregunta" tabindex="5" onclick="return continuar();"/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}