{% extends "basic.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
    function selectAll(source) {
      checkboxes = document.getElementsByName('guests[]');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }
</script>
<style>
    .bs-example{
    	margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
    .box{
        margin-left: 10px;
    }
    .btn{
        margin-top: 10px;
    }
    body {
        background-color: #E3E7EA;
    }
</style>
{% endblock %}


{% block content %}
<div class="bs-example">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h1 class="panel-title">Usuarios:</h1>
        </div>

        <div class="panel-body">
            <form class="box register" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

                <div class="row">
                    <input type="checkbox" id="all" tabindex="0" onchange="selectAll(this)">
                    <label>Seleccionar todos</label>
                </div>
                <!-- si cambio guests[] por guests entra al for, pero el select all deja de funcionar
                -->
                {% for user in users %}
                    <div class="checkbox">
                    <label><input type="checkbox" name="guests[]" value={{user.id}} tabindex={{forloop.counter}}>{{user.first_name}} {{user.last_name}}</label>
                </div>
                {%endfor%}
                <input type="submit" class="btn btn-primary pull-right" value="Enviar invitaciones" tabindex="4" />
            </form>
        </div>
    </div>
</div>
{% endblock %}