{% extends "basic.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>

      function addAns(){
        $(':radio:checked').each(function(){
            $("#form1").append('<input type="hidden" name="ans" value="'+$(this).val()+'" /> ');
        });
        return true;
      }

</script>

<style>
    .bs-example{
    	margin-left: auto;
        margin-right: auto;
        width: 450px;
    }
    .box{
        margin-left: 10px;
    }
    .btn{
        margin-top: 10px;
    }body {
        background-color: #E3E7EA;
    }.answer{
        margin-left: 10px;
        font-weight: initial;
    }.radio{
        margin-top:0px;
    }.btn{
        margin-top:0px;
    }
</style>
{% endblock %}


{% block content %}
<div class="bs-example">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h1 class="panel-title">{{poll.name}}</h1>
        </div>

        <div class="panel-body">
            <form id="form1" class="box register encuesta" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

                <div class="panel-body">
                    {% for question in questions %}
                    <div class="list-group">
                      <a href="#" class="list-group-item active">Pregunta {{forloop.counter}}: {{question.name}}</a>
                      <div class="list-group">
                          {% for ans in question.answers %}
                            <div class="radio list-group-item">
                              <label>
                                <input type="radio" name="ans{{question.id}}" value="{{ans.id}}" aria-label="{{ans.text}}">{{ans.text}}
                              </label>
                            </div>
                          {% endfor %}
                      </div>
                    </div>
                    {% endfor %}
                </div>
                <input class="btn btn-success pull-right" type="submit" onclick ="addAns()" name="submit" tabindex="5" value="Responder">
            </form>
        </div>
    </div>
</div>
{% endblock %}