{% extends "basic.html" %}
{% load staticfiles %}
{% load poll_filters %}
{%block head%}
<style>
    .table-striped > thead > tr > td {
    border-bottom: 2px solid #ddd;
    vertical-align: bottom;
    font-weight: bold;
}
    p{
    margin-left: 20px
    }
    h2{
    margin-left: 10px
    }
</style>
{% endblock %}

{% block content %}
<h2 class="bg-info">Encuestas Creadas</h2>
{% if created %}
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Fecha Inicio</td>
            <td>Fecha Termino</td>
            <td>Estado</td>
            <td>Privacidad</td>
        </tr>
      </thead>
      <tbody>
        {% for poll in created %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{poll.name}}</td>
            <td>{{poll.init_date.date}}</td>
            <td>{{poll.close_date.date}}</td>
            <td>{% if poll.close_date|past %} Cerrada {%else%} Abierta {%endif%}</td>
            <td>{% if poll.privacy_status == "C" %}Privada{% else %} Pública {% endif %}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
</div>
{% else %}
    <p>Usted aun no ha creado ninguna encuesta.</p>
{%endif%}
<br>
<h2 class="bg-success">Invitaciones Respondidas</h2>
{% if answered %}
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Creador</td>
            <td>Fecha Inicio</td>
            <td>Fecha Termino</td>
            <td>Estado</td>
        </tr>
      </thead>
      <tbody>

        {% for invitation in answered %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{invitation.poll.name}}</td>
            <td>{{invitation.poll.creator}}</td>
            <td>{{invitation.poll.init_date.date}}</td>
            <td>{{invitation.poll.close_date.date}}</td>
            <td>{% if invitation.poll.close_date|past %}Cerrada{%else%}Abierta{%endif%}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
</div>
{% else %}
    <p>Usted aun no ha respondido ninguna encuesta.</p>
{%endif%}
<br>
<h2 class="bg-warning">Invitaciones no Respondidas</h2>
{% if not_answered %}
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Creador</td>
            <td>Fecha Inicio</td>
            <td>Fecha Termino</td>
            <td>Estado</td>
        </tr>
      </thead>
      <tbody>

        {% for invitation in not_answered %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{invitation.poll.name}}</td>
            <td>{{invitation.poll.creator}}</td>
            <td>{{invitation.poll.init_date.date}}</td>
            <td>{{invitation.poll.close_date.date}}</td>
            <td>{% if invitation.poll.close_date|past %}Cerrada{%else%}Abierta{%endif%}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
</div>
{% else %}
    <p>Usted no tiene ninguna encuesta para responder.</p>
{%endif%}
{% endblock %}