{% extends "basic.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/structure.css' %}">
{% endblock %}

{% block content %}
<form class="box login" method="POST">
    {% csrf_token %}
	<fieldset class="boxBody">
	  <label>Username</label>
	  <input id="id_username"  type="text" tabindex="1" required maxlength="254" name="username">
	  <label>Password</label>
	  <input id="id_password" name="password" type="password" tabindex="2" required>
	</fieldset>
	<footer>
    {% if form.errors %}
        <script>
            alert("Your username and password didn't match. Please try again.");
        </script>
    {% endif %}
	  <input type="submit" class="btnLogin" value="Login" tabindex="4">
	</footer>
</form>
{% endblock %}

