{% extends "basic.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/structure.css' %}">
{% endblock %}

{% block content %}
<form id="user_form" method="post" action="" enctype="multipart/form-data" class="box register">
    {% csrf_token %}
	<fieldset class="boxBody">
	  <label>Username</label>
	  <input id="id_username"  type="text" tabindex="1" required maxlength="30" name="username">
      <label>First Name</label>
	  <input id="id_first_name" maxlength="30" name="first_name" type="text"  tabindex="2" required>
        <label>Last Name</label>
        <input id="id_last_name" maxlength="30" name="last_name" type="text" tabindex="3" required>
        <label>Email</label>
	  <input id="id_email" maxlength="254" name="email" type="email" tabindex="3" required>
	  <label>Password</label>
	  <input id="id_password" name="password" type="password" tabindex="5" required>
	</fieldset>
	<footer>
    {% if form.errors %}
        <script>
            alert("The form has errors. Please try again.");
        </script>
    {% endif %}
	  <input type="submit" class="btnLogin" value="Sign Up" tabindex="4">
	</footer>
</form>
{% endblock %}
